<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homy</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <div class="logo">
            <img src="LOGO.jpg" alt="Logo Homy">
        </div>

        <nav>
            <a href="#">Beli</a>
            <a href="#">Sewa</a>
            <a href="#">KPR</a>
            <a href="#">Lainnya</a>
        </nav>

        <a href="#" class="login-btn">
            Daftar/Masuk →
        </a>
    </header>

    <section class="hero">

        <div class="hero-left">
            <h1>
                Kelola Hunian <br>
                Anda dengan Mudah
            </h1>

            <p>
                Homy, tempat paling gampang buat kamu cari atau jual rumah
                tanpa ribet. Semua info properti lengkap, mulai dari lokasi,
                harga, tipe rumah, luas bangunan, sampai foto-fotonya juga ada.
                Kamu juga bisa langsung chat penjual kalau nemu rumah yang cocok.
                Cari rumah jadi lebih cepat, simpel, dan nggak bikin pusing.
            </p>

            <button class="cta-btn">
                Selengkapnya →
            </button>
        </div>

        <div class="hero-right">
            <div class="circle"></div>

            <img src="house.png" alt="Rumah Modern">
        </div>

    </section>

</body>
</html>